

/* *{
  margin                          : 0;
  padding                         : 0;
  box-sizing                      : border-box;
}

@font-face {
  font-family                     : "Inter";
  src                             : local("Inter"),
                                    url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}
body {
  width                           : 100vw;
  height                          : 100vh;
}

.mainDiv {
  margin                          : 0;
  width                           : 100%;
  height                          : 100%;
  display                         :flex ;
  flex-direction                  :column ;
}

.content-Div{
  display                         :flex;
  flex-direction                  :column;
  width                           : 100%;

}

.desktopimg{
  display                         : flex;
  
}

.mobileimg{
  width                           : inherit;
  display                         : none;
}

.attribution{
  font-size                       : 11px; 
  text-align                      : center; 
}



.attribution a {
  color                           : hsl(228, 45%, 44%);
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/*@media only screen and (max-width: 768px){
  body{
    width                           : 100vw;
    height                          : 100vh;
    flex-wrap                       : wrap;
    flex-direction                  : column;
    

  }
  .mainDiv {
    width                           : 100%;
    height                          : 100%;
    display                         : flex ;
    flex-direction                  : column ;
    overflow                        : scroll;
  }
  .content-Div{
    border: 1px solid red;
    width                           : 100%;
    margin                          : 0 20px;
 
  }

  .desktopimg{
    display                         : none;
    
  }

  .mobileimg{
    display                         : flex;
    width                           : inherit;
  }

  .mobimg{
    width                           : inherit;
  }

  .attribution{
    font-size                       : 11px; text-align: center; 
  }
  
  .attribution a {
    color                           : hsl(228, 45%, 44%);
  }
}
*/